@{
    ViewData["Title"] = "Home Page";
}

<div class="content-box p-4 border rounded">
    <div class="welcome-section text-center text-white rounded">
        <!-- Welcome Message -->
        <h1>Welcome to MTB Pay Ticketing System</h1>
        <p>Your trusted partner in comprehensive ticket and service request management.</p>

        <!-- Call to Action Button -->
        <div class="d-flex justify-content-center aling-items-center m-4 ">
            <a href="https://mtb.com.mm/" class="text-decoration-none rounded fs-4 py-1 px-4 m-2 action-btn-explore">Explore MTB Services</a>
            <a href="/Login/UserLogin" class="text-decoration-none rounded  fs-4 py-1 px-4 m-2 action-btn-login">
                Login
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z" />
                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                </svg>
            </a>
        </div>

        <!-- MTB Logo -->
        <div class="m-2">
            <img src="https://play-lh.googleusercontent.com/ZYHXbtAopfQfJjCiTdDciNQFtzw6eY0fUbBBlzsrJ7bEVZlh9qfppjt8E66ia7JyHRY0=w240-h480-rw" alt="MTB Logo">
        </div>

        <!-- MIBS logo -->
        <div class="mibs-logo">
            <img src="https://www.mibs.com.mm/image/logo.webp" alt="MIBS Logo">
        </div>
    </div>
</div>